<h1> Le Texte Saint d'Elua l'Unique </h1>
<p style="text-align: center;">
<br/>Au commencement Elua l'Unique créa le ciel et la terre.
<br/>La terre était informe et vide; les ténèbres couvraient l'abîme, et l'Esprit d'Elua l'Unique se mouvait au-dessus des eaux.
<br/>Elua dit : " Que la lumière soit! " et la lumière fut.
<br/>IL vit que la lumière était bonne; et IL sépara la lumière des ténèbres.
<br/>Elua appela la lumière Matériel, et les ténèbres l'Immatériel.
<br/>Ainsi il y eut un soir, et il y eut un matin; ce fut le premier jour.
<br/>
<br/>Elua dit : " Qu'il y ait un firmament entre les eaux, et qu'il sépare les eaux des autres eaux. "
<br/>IL fit le firmament, et il sépara les eaux qui sont au-dessous du firmament d'avec les eaux qui sont au-dessus du firmament.
<br/>Et cela fut ainsi.
<br/>Elua appela le firmament Ciel.
<br/>Et il y eut un soir et il y eut un matin; ce fut le second jour.

<br/>Elua l'Unique dit: " Que les eaux qui sont au-dessous du ciel se rassemblent en un seul lieu, et que le sec paraisse. "
<br/>Et cela fut ainsi. IL appela le sec Terre, et IL appela Mer l'amas des eaux.
<br/>Et Dieu vit que cela était bon.
<br/>Puis Elua dit: "Que la terre fasse pousser du gazon, des herbes portant semence, des arbres, produisant, selon leur espèce, 
<br/>du fruit ayant en soi sa semence, sur la terre."
<br/>Et cela fut ainsi.
<br/>Et la terre fit sortir du gazon, des herbes portant semence selon leur espèce, et des arbres produisant, 
<br/>selon leurs espèces, du fruit ayant en soi sa semence.
<br/>Et IL vit que cela était bon.
<br/>Et il y eut un soir, et il y eut un matin; ce fut le troisième jour.
<br/>
<br/>Elua l'Unique dit : « Qu’il y ait des luminaires au firmament du ciel, pour séparer le jour de la nuit ; 
<br/>qu’ils servent de signes pour marquer les fêtes, les jours et les années  ;  et qu’ils soient, au firmament du ciel, 
<br/>des luminaires pour éclairer la terre. »
<br/>Et ce fut ainsi. 
<br/>IL fit les deux grands luminaires : le plus grand pour commander au jour, le plus petit pour commander à la nuit ; il fit aussi les étoiles.
<br/>IL les plaça au firmament du ciel pour éclairer la terre, pour commander au jour et à la nuit, pour séparer le Matériel de l'Immatériel. 
<br/>Ainsi naquirent les Premiers Dieux, et IL vit que cela était bon.
<br/>Puis il y eut un soir, et il y eut un matin; ce fut le quatrième jour.
<br/>
<br/>Elua l'Unique dit : « Que les eaux foisonnent d’une profusion d’êtres vivants, et que les oiseaux volent au-dessus de la terre, sous le firmament du ciel. »
<br/>IL créa, selon leur espèce, les grands monstres marins, tous les êtres vivants qui vont et viennent et foisonnent dans les eaux, et aussi, selon leur espèce, 
<br/>tous les oiseaux qui volent.
<br/>Et IL vit que cela était bon.
<br/>Elua l'Unique les bénit par ces paroles : « Soyez féconds et multipliez vous, remplissez les mers, que les oiseaux se multiplient sur la terre. »
<br/>Et il y eut un soir, et il y eut un matin: ce fut le cinquième jour.
<br/>IL dit: " Que la terre fasse sortir des êtres animés selon leur espèce, des animaux domestiques, des reptiles et des bêtes de la terre selon leur espèce. "
<br/>Et cela fut ainsi.
<br/>Elua fit les bêtes de la terre selon leur espèce, les animaux domestiques selon leur espèce, et tout ce qui rampe sur la terre selon leur espèce.
<br/>Et Elua vit que cela était bon.
<br/>Puis IL dit: " Faisons la Raison à nos images, selon nos ressemblances, et qu'il domine sur les poissons de la mer, sur les oiseaux du ciel, 
<br/>sur les animaux domestiques et sur toute la terre, et sur les reptiles qui rampent sur la terre. "
<br/>Et Elua créa la Raison à son image; IL nous créa à l'image d'Eux : IL créa mâle et femelle.
<br/>Elua l'Unique les bénit, et il leur dit: " Soyez féconds, multipliez, remplissez la terre et soumettez-la, et dominez sur les poissons de là mer, 
<br/>sur les oiseaux du ciel et sur tout animal qui se meut sur la terre. "
<br/>IL dit: " Voici que je vous donne toute herbe portant semence à la surface de toute la terre, et tout arbre qui porte un fruit d'arbre ayant semence; 
<br/>ce sera pour votre nourriture.
<br/>Et à tout animal de la terre, et à tout oiseau du ciel, et à tout ce qui se meut sur la terre, ayant en soi un souffle de vie, 
<br/>je donne toute herbe verte pour nourriture. "
<br/>Et cela fut ainsi.
<br/>Et Elua vit tout ce qu'il avait fait, et voici cela était très bon.
<br/>Et il y eut un soir, et il y eut un matin: ce fut le sixième jour.
<br/>
<br/>Ainsi furent achevés le ciel et la terre, et tout leur déploiement.
<br/>
<br/>Le septième jour, Elua l'Unique avait achevé l’œuvre qu’il avait faite.
<br/>IL se reposa, le septième jour, de toute l’œuvre qu’IL avait faite.
<br/>Et Dieu lui-même bénit le septième jour : il le sanctifia puisque, ce jour-là, il se reposa de toute l’œuvre de création qu’il avait faite.
<br/>Telle fut l’origine du ciel et de la terre lorsqu’ils furent créés.
<br/>Lorsque le Seigneur Elua l'Unique fit la terre et le ciel,  aucun buisson n’était encore sur la terre, aucune herbe n’avait poussé, 
<br/>parce que le Seigneur Elua l'Unique n’avait pas encore fait pleuvoir sur la terre, et il n’y avait pas d’Êtres pour travailler le sol.
<br/>
<br/>Mais une source montait de la terre et irriguait toute la surface des Mondes.
<br/>Alors le Seigneur Elua l'Unique modela  la poussière tirée du sol ; il insuffla dans les Plans le souffle de vie et planta un jardin en Éden, 
<br/>au cœur des Mondes, pour y placer les Premiers Dieux qu’IL avait modelés.
<br/>
<br/>Et ainsi, IL créa le Royaume Divin.
<br/>Seigneur Elua l'Unique fit pousser du sol toutes sortes de Destins à l’aspect désirable et aux Avenirs savoureux ; 
<br/>il y avait aussi l’Arbre de Vie au milieu du jardin, ainsi que l’arbre de la connaissance du Bien et du Mal.
<br/>Un fleuve sortait également du Royaume Divin pour irriguer les Mondes  ; qui se divisait alors en plusieurs Plans.
<br/>
<br/>Le Premier Plan est l'Axe des Réalités, celui du Matériel et de la Magie.
<br/>
<br/>Les Seconds Plans sont les Échos de l'Axe, Féerie ainsi que Gisombre.
<br/>
<br/>es Troisièmes Plans sont les Transitifs nommés "Éthéré" ainsi que "Astral", passerelles primordiales entre chaque Mondes.
<br/>
<br/>Le Quatrième Plan est composé de plusieurs Plans inférieurs, communément nommés "Élémentaires", dont l'Osmose crée le Chaos.
<br/>
<br/>Les Cinquièmes Plans sont les seize plans extérieurs correspondant aux huit alignements autres que neutre 
<br/>et aux nuances philosophiques permettant de passer de l'un à l'autre.
<br/>
<br/>Puis finalement, le Sixième Plan est composé de l'énergie Positive et Négative enveloppant le reste de la cosmologie 
<br/>et qui génèrent les forces brutes de la vie ainsi que de la mort à la base de toute existence. 
<br/>
<br/>Seuls certains Textes Anciens racontent que lors du Repos Saint, Elua l'Unique pourchassa d'immondes Traîtres jusqu'aux limites des Limbes.
<br/>Bannissant à jamais ces Dieux Déchus du Royaume Divin.
<br/>Sauvant ainsi le monde Matériel pendant des millénaires.
</p>
