
  <body>
    <h2>Transcandés</h2>

    <h3>
      <br /><a href="#Ibaotai">-Ibaotai, Le Dieu Des Voleurs & du Meurtre</a>
      <br /><a href="#Aonyx">-Aonyx, Déesse de la Chasse & de la Survie</a>
      <br /><a href="#Xeo">-Xeo, Dieu du Courage et du Sacrifice de Soi</a>
      <br /><a href="#Térash">-Térash, Dieu de l'Artisanat et de la Forge</a>
      <br /><a href="#Aylon">-Aylon, Dieu du Commerce et de la Négociation</a>
      <br /><a href="#Mar'h">-Mar'h, Dieu de la Duperie et de la Ruse</a>
      <br /><a href="#Azimut">-Azimut, Déesse des Bières et des Spiritueux</a>
      <br /><a href="#Karrth"
        >-Karrth, Dieu de la Cartographie et de la Navigation</a
      >
    </h3>

    <hr />

    <h3 id="Ibaotai">Ibaotai</h3>
    <p>
      <br />Le Dieu Des Voleurs & du Meurtre.
      <br />
      <br />Il réussi l'exploit de voler des milliers d'identités sans qu'on ne
      retrouve jamais aucun corps afin de l'en accuser.
    </p>

    <hr />

    <h3 id="Aonyx">Aonyx</h3>
    <p>
      <br />Déesse de la Chasse & de la Survie.
      <br />
      <br />Elle réussi l'exploit de chasser un troupeau de Tarasques à l'aide
      d'une brindille de blé.
    </p>

    <hr />

    <h3 id="Xeo">Xeo</h3>
    <p>
      <br />Dieu du Courage et du Sacrifice de Soi.
      <br />
      <br />Il combattu jours et nuits pendant prés d'une semaine afin de sauver
      un orphelinat de terribles créatures. <br />Malheureusement, elles
      finirent par lui ôter la vie. <br />En récompense de son sacrifice, les
      portes du Royaume Divin se seraient ouvertes d'elles même pour le faire
      renaître en tant que Dieux.
    </p>

    <hr />

    <h3 id="Térash">Térash</h3>
    <p>
      <br />Dieu de l'Artisanat et de la Forge.
      <br />
      <br />Il réussi l'exploit de forger une arme suffisamment robuste pour
      qu'Alonrik lui même puisse l'utiliser sans qu'elle s'ébrèche.
    </p>

    <hr />

    <h3 id="Aylon">Aylon</h3>
    <p>
      <br />Dieu du Commerce et de la Négociation.
      <br />
      <br />Il fût le premier Négociant du Royaume de Syndrya, et en fit le cœur
      de l'économie Mondiale.
    </p>

    <hr />

    <h3 id="Mar'h">Mar'h</h3>
    <p>
      <br />Dieu de la Duperie et de la Ruse.
      <br />
      <br />Son exploit fût de duper les Dieux eux même pour qu'ils lui ouvrent
      les portes du Royaume Divin.
    </p>

    <hr />

    <h3 id="Azimut">Azimut</h3>
    <p>
      <br />Déesse des Bières et des Spiritueux.
      <br />
      <br />Elle réussi l'exploit de tenir la beuverie avec Kween elle même, et
      fût considérer comme la plus grande Alco... hm, amatrice d'alcool ayant
      exister parmi les Mondes.
    </p>

    <hr />

    <h3 id="Karrth">Karrth</h3>
    <p>
      <br />Dieu de la Cartographie et de la Navigation.
      <br />
      <br />Il a réussi l’exploit de cartographier les contours de tous les
      continents connus à ce jour. Le tout en traversant des tempêtes
      inimaginables envoyées par Doon Plavan. <br />Ce dernier lui ouvrit donc
      les portes du Royaume Divin.
    </p>
  </body>
