<!DOCTYPE html>
<html>


<header>
    <%- include ('../pages/header') %>
</header>

<head>
    <title>Generateur1</title>
    <link rel= "stylesheet" href= "/assets/semantic/semantic.min.css">
</head>


<body>

</body>
</html>