<h1>Races</h1>
<h2>
  <br /><a href="#Anima'lys">-Anima'lys</a> <br /><a href="#Colosses"
    >-Colosses</a
  >
  <br /><a href="#Drakéïdes">-Drakéïdes</a> <br /><a href="#Elfes">-Elfes</a>
  <br /><a href="#Enfées">-Enfées</a> <br /><a href="#Gnomes">-Gnomes</a>
  <br /><a href="#Halfelins">-Halfelins</a> <br /><a href="#Humains"
    >-Humains</a
  >
  <br /><a href="#Marionnette">-Marionnette</a> <br /><a href="#Nain">-Nain</a>
  <br /><a href="#Oques">-Oques</a>
</h2>

<hr />

<h3 id="Anima'lys">Anima'lys</h3>
<p>
  Les Anima'lys sont un peuple communautaire secret et extrêmement rare.
  <br />Ils vivent dans des villes ou des villages cachés, dont seuls eux
  connaissent l'emplacement. <br />Parfois dans les Nuages, d'autres fois dans
  les Montagnes, ou bien même dans la Mer. <br />Ce sont des Êtres spéciaux, car
  au plus profond d'eux existe une partie Sauvage. <br />On raconte qu'à la
  pleine lunes ( la Luna comme ils l'appellent ), <br />les Anima'lys ne
  contrôlent plus leurs Instincts Sauvages et s'abandonnent à des carnages.
  <br />Les premiers Druides s'inspirèrent de leurs Magies afin d'accueillir des
  Esprits d'Animaux Défunt en eux ; <br />leurs permettant d'imité une minuscule
  portion de leurs pouvoirs. <br />Ce peuple est séparé en deux parties :
  <br />
  <br />1 - Les Sangs Purs. <br />Possédant une forme Raciale (Humain, Orques,
  etc) cachant quelques rares traits animaliers <br />(par exemple des plumes
  dans les cheveux ou sous les aisselles), <br />ils sont plus rapides et plus
  forts que leurs semblables non-anima'lys. <br />Ils possèdent également une
  forme Sauvage , <br />où ils ne font qu'un avec leurs instincts devenant ainsi
  une bête qui change entièrement de morphologie <br />mais également le poids
  et la taille. <br />Ce sont les seuls Anima'lys qui contrôle leurs instincts
  Sauvages, à l'exception des nuits de la Luna.
  <br />
  <br />2 - Les Sangs Mêlés. <br />Quand à eux, ils possèdent trois formes.
  <br />Une purement raciale (Humain, Orques, etc) sans aucune spécificité.
  <br />
  <br />Une hybride, où ils cèdent partiellement à leurs instincts Sauvages.
  <br />( Apparence à mi-chemin entre leurs traits raciaux et leurs formes
  Sauvage )
  <br />
  <br />Une forme Sauvage, où ils s'abandonnent à leurs instincts profonds
  devenant ainsi une bête assoiffée de sang.
  <br />
  <br />Ils n'ont aucun contrôle de la bête, et il leurs est extrêmement
  difficile de revenir à eux. <br />Certains d'ailleurs, restèrent à jamais sous
  cette forme après avoir réduit à feu et à sang leurs propres villages.
  <br />
  <br />Les Anima'lys sont tellement rare, que si vous croisez un être pouvant
  prendre une forme animale <br />c'est qu'il est sans aucun doute un Druide.
  <br />#PASD'AMALGAME #NORACISMO
</p>

<hr />

<h3 id="Colosses">Colosses</h3>
<p>
  Des Êtres descendant des Géants, ayant combattu contre les Dragons.
  <br />Leurs force n'as d'égale que leurs tailles, car dé leurs adolescences
  ils dépassent déjà les 3 mètres de haut. <br />Bien qu'ils fassent parti du
  peuple le plus rare (et le plus hideux), ce sont des Êtres hors normes et
  vraiment mystérieux. <br />Leurs visage sont ornés de plusieurs bouches
  impressionnantes mais dénués d'un nez ou d'œil.. <br />Ils possèdent en eux
  une Magie Ancestrale extrêmement rare, et leurs peau est résistante à la
  Magie. <br />Ce sont pour la plus part, les pires Ennemis des Lanceurs de
  Sorts, car ils voient à travers la Magie. <br />[Animosité VS Drakéïdes]
</p>

<hr />

<h3 id="Drakéïdes">Drakéïdes</h3>
<p>
  Des Êtres descendant des Dragons.
  <br />Leurs Corps évolues à mesure que leurs pouvoirs ancestrales s'éveil en
  eux. <br />Ils sont dans un premier temps des Humains portant des écailles,
  jusqu'au jour où leurs corps s'en recouvre entièrement. <br />Ce sont les
  seuls Êtres pouvant rivalisé avec les Nains et les Elfes autant en endurance
  physique qu'en talents magiques. <br />C'est également l'une des races la plus
  rares, car ils ne partent en voyage qu'à condition d'être mandaté par leurs
  Ancêtres Dragons. <br />Chacun porte donc une mission qu'il devra réaliser...
  même s'il doit mettre sa vie en jeu. <br />[Animosité VS Colosses]
</p>

<hr />

<h3 id="#Elfes">Elfes</h3>
<p>
  Des Êtres élégants d'une grande taille, créer par le Dieu Ylandr.
  <br />Ils ne clignent jamais des yeux, et leurs oreilles sont finement
  étirées. <br />Ce sont des Mortels dotés de d'une très longue longévité mais
  également d'un contrôle unique à la Magie. <br />Ils sont dénués de bouche,
  car ils communiquent par la pensée.
</p>

<hr />

<h3 id="Enfées">Enfées</h3>
<p>
  Les Enfées sont un peuple nappé de mystères.
  <br />Ils sont apparu du jour au lendemain chez les hommes. <br />Ce seraient
  des Êtres descendant des Anges ou des Démons, qui posséderait une forme Divine
  ou Démoniaque. <br />Il existe cependant deux types d'Enfées différents.
  <br />
  <br />1 - Natifs. <br />Dés la naissance, ils possédaient déjà leur formes
  d'Enfées et sont incapables de s'en dissocier. <br />Ainsi, ils sont
  constamment sous leurs formes d'Enfées. (Cornes/Couronne, Ailes, Queue/Ailes,
  etc) <br />Les Natifs doivent donc toujours cacher leurs parties d'Enfées afin
  de conserver le secret de leurs origines. <br />Par contre, leurs aptitudes
  physiques ou magiques sont hors normes comparés aux Lanternes.
  <br />
  <br />2 - Lanternes. <br />Contrairement aux Natifs, ce sont des Enfées dont
  l'hérédité a sauter une ou plusieurs générations. <br />Ainsi pour la plus
  part, ils ignorent leurs ascendances Angélique ou Démoniaque. <br />Mais
  lorsque leurs pouvoirs s'éveilles, ils possèdent une forme temporaire qui
  condense l'entièreté de leurs Magies Ancestrales. <br />Après cela, leurs
  corps s'épuise et ils s'endorment.
</p>

<hr />

<h3 id="Nhei">Nhei</h3>
<p>
  Des Êtres nées de l'amour entre Elfes et Nains, ils sont d'une taille moyenne.
  <br />Physiquement : <br />Leurs peau est rugueuse, à l'image des Nains.
  <br />Leurs extrémités (pied/mains) sont semblables à une pierre lisse.
  <br />Leurs oreilles sont longue mais dénués de cartilage, elles retombent
  donc. <br />Et ils possèdent une petite bosse là où leurs ancêtres Nains
  portent un œil. <br />- (Merci à <span class="thanks">Eryndiir</span> pour
  l'idée) - <br />Ils sont extrêmement sensibles, et peuvent ressentir les
  émotions des autres Êtres. <br />Ils sont également à l'aise dans la création
  d'illusions qui deviennent réalité.
</p>

<hr />

<h3 id="Halfelins">Halfelins</h3>
<p>
  Descendants d'Enfants Éternels privés de leurs Cœurs.
  <br />Ils se sont battu pour leurs libertés, et sont désormais dissociés du
  statut d'esclave. <br />Ils vivent désormais sois en Ville, sois en petites
  communautés dans des Villages paisibles. <br />Ce sont des Êtres de petite
  taille, semblable à celle des Enfants Humains. <br />Leurs yeux sont en forme
  d'amande et leurs pupille/iris sont toutes les deux entièrement noirs.
  <br />Leurs oreilles sont fines et délicates, semblables à celle des Elfes.
  <br />Et leurs traits faciaux rappel ceux des humains. <br />C'est la race la
  plus dextre et agile qui puisse exister, malheureusement pour eux ils sont
  incapables d'utiliser la Magie. <br />Malgré leurs grâce rares, ils sont
  injustement victimes de racisme.
</p>

<hr />

<h3 id="Humains">Humains</h3>
<p>
  Des Êtres nées pendant l'Ère Guerrière et ayant réussi à y mettre fin aux
  côtés des Élémen'tarys.
  <br />Visuellement ils ressemblent... a des humains. <br />Ils ont appris la
  magie aux côtés des Elfes, le combat aux côtés des Nains, et la créativité aux
  côtés des Nei. <br />C'est la race qui est présente dans 80% des 8 Royaumes.
</p>

<hr />

<h3 id="Marionnette">Marionnette</h3>
<p>
  Les Marionnettes sont des êtres Artificiels crées par les Nhei, et plus
  précisément par le Clan des Spa'stum.
  <br />
  <br />Leurs corps est fait à partir d'un minerai extrêmement rare et magique,
  des Météorites d'Eclipse. <br />Leurs propriétés magiques permet d'absorber la
  Magie, et de l'isoler totalement. <br />Ainsi, combiné avec des Fragments de
  Cœurs Eternels via un savoir runique dont seul le Clan des Spa'stum connait le
  secret, cela permit à des objets inanimés le droit de vivre.
  <br />
  <br />La personnalité de la Marionnette dépend donc de la qualité du minerai,
  mais également de la taille du fragment de cœur. <br />Certains d'entre eux
  fait à partir d'une qualité exceptionnelle, leurs permets même l'utilisation
  de la Magie.
  <br />
  <br />IMPORTANT <br />Ces changements seront apportés via des événements
  scénaristiques afin de ne pas chambouler vos Personnages.
</p>

<hr />

<h3 id="Nain">Nain</h3>
<p>
  Des Êtres de petites tailles, créer par la Déesse Hun'Luky.
  <br />Hommes ou Femmes portent une belle Barde, et leurs chevelure égale leurs
  puissance Martiale. <br />Les Nain ne coupe sa chevelure qu'une fois vaincu
  dans un combat équitable. <br />Leurs peaux est semblables à la Pierre, et ils
  possèdent un Troisième Œil leurs octroyant une chance innée. <br />D'ailleurs
  parfois, ils portent Malchance à d'autres...
</p>

<hr />

<h3 id="Oques">Oques</h3>
<p>
  Des Êtres nées de la Première Fracture, et qui ont pousser aux bords de
  l'extinction les 3 Premières Races.
  <br />Leurs peaux est teinté de vert. <br />Ils se séparent en deux Branches :
  <br />
  <br />1 - Barba'tarys. <br />Ils sont naturellement grands et possèdent 4
  bras. <br />Leurs Mains se résument à 3 doigts. <br />C'est la race la plus
  violente et combative qui existe.
  <br />
  <br />2 - Les Élémen'tarys. <br />Ils sont naturellement grand mais ne
  possèdent que 2 bras. <br />Par contre, ils ont 5 doigts. <br />Contrairement
  à leurs confrères Barba'tarys, ils sont calmes et proches de la Nature.
  <br />Ce sont les Êtres les plus proches des Plans Élémentaires, <br />et
  peuvent emprunter la puissance de créatures (de Feu, de Vent, d'Eau ou de
  Pierre) pour les aider dans leurs combats.
</p>

<br />
<br />
