<ul>
  <img class="icon" rel="icon" src="images/logo_128.png" type="image/x-icon" />

  <li class="dropdown">
    <a href="#" class="dropbtn" onclick="myFunction()">Texte</a>
    <div class="dropdown-content" id="myDropdown">
      <a href="#" router-link="naissance_du_monde_erudit">Naissance_du_monde_erudit</a>
    </div>
  </li>

  <li><a href="#" router-link="races" class="header item">Races</a></li>

  <li><a href="#" router-link="royaumes" class="header item">Royaumes</a></li>

  <li><a href="#" router-link="guildes" class="header item">Guildes</a></li>

  <li class="dropdown">
    <a router-link="dieux" href="#" class="dropbtn" onclick="myFunction()">Dieux</a>
    <div class="dropdown-content" id="myDropdown">
      <a router-link="premier_dieux" href="#" class="header item">Premiers Dieux</a>
      <a router-link="dieux_dechus" href="#">Dieux Déchus</a>
      <a router-link="transcandes" href="#">Transcandés</a>
    </div>
  </li>
  <img class="icon" rel="icon" src="images/logo_128.png" type="image/x-icon" />

</ul>