<!DOCTYPE html>
<html>


<header>
    <%- include ('../pages/part/header') %>
</header>

<head>
    <title>Dieux Déchus</title>
    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
    <link rel="stylesheet" href="/assets/styles.css">
</head>

<body>

    <h2> Dieux Déchus </h2>
    <h4>
        <a href="#Kushiel">-Kushiel, Dieu de la Souffrance et de l'Agonie</a>
        <br/><a href="#Desp'hayr">-Desp'hayr , Dieu des Ténèbres et de la Disparition</a>
        <br/><a href="#Shava">-Shava , Déesse de l'Amour et de la Beauté</a>
        <br/><a href="#Sin'Ze">-Sin'Ze , Dieu de la Maladie et du Poison</a>
        <br/><a href="#Alonrik">-Alonrik , Dieu des Conquêtes et de la Domination</a>
        <br/><a href="#Kakor">-Kakor , Déesse de l'Annihilation</a>
        <br/><a href="#Ran'g'kor">-Ran'g'kor , Déesse de la Vengeance</a>
        <br/><a href="#Dae">-Dae , Dieu des Profondeurs</a>
        <br/><a href="#Hun'Luky">-Hun'Luky, Déesse de la Chance et de la Malchance</a>
        <br/><a href="#Zoy">-Zoy , Déesse de la Tentation et des Regrets</a>
    </h4>

    <hr />

    <h3 id="Kushiel"> Kushiel </h3>
    <p>
        Le Dieu de la Souffrance et de l'Agonie.
        <br/>Ce Traître doit sûrement être Loyal Mauvais !
        <br/>Son Domaine est celui de la Ruse ainsi que de la Mort.
        <br/>
        <br/>Et les Fous s'ornent du symbole de la Rose Sanglante
    </p>

    <hr />

    <h3 id="Desp'hayr"> Desp'hayr </h3>
    <p>
        Le Dieu des Ténèbres et de la Disparition.
        <br/>Les Textes anciens à son propos ont... disparus !
        <br/>Mais il doit être Chaotique Mauvais à mon avis...
        <br/>Son Domaine est celui de la Ruse & de la Mort.
        <br/>
        <br/>Et il est représenté par une Goute noire entourée d'Ondes.
    </p>

    <hr />

    <h3 id="Shava"> Shava </h3>
    <p>
        La Déesse de l'Amour et de la Beauté.
        <br/>Malgré qu'elle soit banni du Royaume Divin, elle était autrefois considérée Chaotique Neutre.
        <br/>Son Domaine est celui de la Vie & de la Duperie.
        <br/>
        <br/>Ceux tombés sous son charme parlent d'une sorte de Flamme circulaire entourant un Masque de Renard.
    </p>

    <hr />

    <h3 id="Sin'Ze"> Sin'Ze </h3>
    <p>
        Le Dieu de la Maladie et du Poison.
        <br/>Il est ... tousse tousse ... Chaotique Mauv...arg !
        <br/>Son Domaine est celui de la Mort.
        <br/>
        <br/>Les Êtres ont décidé de le symboliser par un Serpent Aveugle à Deux Têtes.
    </p>

    <hr />

    <h3 id="Alonrik"> Alonrik </h3>
    <p>
        Dieu des Conquêtes et de la Domination.
        <br/>Les Barbares le suivant sont généralement eux même Chaotique Mauvais.
        <br/>Son Domaine est celui de la Guerre.
        <br/>
        <br/>Il est représenté par une Lame reliée à une Chaîne.
    </p>

    <hr />

    <h3 id="Kakor"> Kakor </h3>
    <p>
        La Déesse de l'Annihilation.
        <br/>Elle n'est pas vraiment douce, donc imaginons la Chaotique Mauvaise...
        <br/>Son Domaine est celui de la Guerre... Mais surtout celui du Cataclysme !
        <br/>
        <br/>Les quelques Sectes cherchant à attirer son attention possèdent l'emblème d'un Cercle Brisé en plusieurs
        Morceaux.
    </p>

    <hr />

    <h3 id="Ran'g'kor"> Ran'g'kor </h3>
    <p>
        La Déesse de la Vengeance.
        <br/>Je pense que tout le monde la considère comme Loyale Mauvaise... Son Domaine est celui de la Ruse et de la
        Duperie.
        <br/>
        <br/>La Vengeance viendra à travers une Brume épaisse où l'on aperçoit un sourire…
    </p>

    <hr />

    <h3 id="Dae"> Dae </h3>
    <p>
        <br/>Le Dieu des Profondeurs.
        <br/>Blups Blups Neutre. Blups Blups
        <br/>Son Domaine est celui de la Tempête.
        <br/>
        <br/>Si vous croisez des Tourbillons qui se croisent... c'est que Dae as une dent contre vous !
    </p>


    <hr />


    <h3 id="Hun'Luky">
        Hun'Luky
    </h3>
    <p>
        <br/>La Déesse de la Chance et de la Malchance.
        <br/>Les Religieux d'Hun'Luky s'entendent très mal avec ceux de Civax, une histoire de Chance et de Destins...
        considérons la comme Neutre !
        <br/>Son Domaine est celui de la Nature.
        <br/>
        <br/>Les cultures la représentent avec Deux Serpes Superposées.

    </p>


    <hr />


    <h3 id="Zoy">
        Zoy
    </h3>
    <p>
        <br/>La Déesse de la Tentation et des Regrets.
        <br/>J'ai tendance à penser qu'elle est Neutre Mauvaise, mais chacun son avis !
        <br/>Son Domaine est la Duperie.
        <br/>
        <br/>Je vous souhaite de ne jamais croiser le chemin d'un Papillon à 8
    </p>


    <hr />






</body>

<footer>
    <%- include ('../pages/part/foot') %>
</footer>

</html>