<!DOCTYPE html>
<html>


<header>
    <%- include ('../pages/part/header') %>
</header>

<head>
    <title>Dieux</title>
    <link rel= "stylesheet" href= "/assets/semantic/semantic.min.css">
    <link rel="stylesheet" href="/assets/styles.css">
</head>


<body>
   <h1>
    Dieux
   </h1>
   
<h2>
    <a href="/Premier_Dieux">Premiers Dieux</a>

</h2>

<h3>
    <br /><a href="/Premier_Dieux#Hiyel">-Hiyel, Dieu de la Tyrannie</a>
    <br /><a href="/Premier_Dieux#Civax">-Civax, Dieu des Destins et des Choix </a> 
    <br /><a href="/Premier_Dieux#Daelyn">-Daelyn, Déesse De la Magie et du Matériel </a>
    <br /><a href="/Premier_Dieux#Shami">-Shami, Déesse de la Curiosité et des Découvertes</a>
    <br /><a href="/Premier_Dieux#Ylandr">-Ylandr, Déesse de la Connaissance</a>
    <br /><a href="/Premier_Dieux#Doon_Plavan">-Doon Plavan, Dieu des 4 Vents et de la Tempête</a> 
    <br /><a href="/Premier_Dieux#Nar'Gah">-Nar'Gah, Dieu des Corbeaux et des Mensonges</a> 
    <br /><a href="/Premier_Dieux#Nadredule">-Nadredule, Déesse du Ciel et de la Terre</a> 
    <br /><a href="/Premier_Dieux#Piaflin">-Piaflin, Dieu du Soleil et de l'Agriculture</a> 
    <br /><a href="/Premier_Dieux#Arachnéa">-Arachnéa, Déesse des Funérailles et du Renouveau</a> 
    <br /><a href="/Premier_Dieux#Dian">-Dian, Déesse des 12 Lunes</a> 
    <br /><a href="/Premier_Dieux#Yuz">-Yuz, Déesse de la Folie</a> 
    <br /><a href="/Premier_Dieux#Kenz'Horn">-Kenz'Horn, Dieu de la Richesse, de la Cupidité</a>
    <br /><a href="/Premier_Dieux#Zu'Kra">-Zu'Kra, Dieu des Passages</a> 
    <br /><a href="/Premier_Dieux#Kween ">-Kween, Déesse de la Bienveillance et du Partage</a> 
    <br /><a href="/Premier_Dieux#Linae">-Linae, Déesse des Secrets et des Murmures</a> 
    <br /><a href="/Premier_Dieux#Ygg">-Ygg, Dieu de la Source et de l'Équilibre</a> 
    <br /><a href="/Premier_Dieux#Félaystia">-Félaystia, Déesse des Arts et de la Festivité</a> 
   
</h3>

<hr />


<h2>
    <a href="/Dieux_Déchus">DieuxDéchus</a>
</h2>
<h3>
    <br /><a href="/Dieux_Dechus#Kushiel">-Kushiel, Dieu de la Souffrance et de l'Agonie</a>
    <br /><a href="/Dieux_Dechus#Desp'hayr">-Desp'hayr , Dieu des Ténèbres et de la Disparition</a>
    <br /><a href="/Dieux_Dechus#Shava">-Shava , Déesse de l'Amour et de la Beauté</a>
    <br /><a href="/Dieux_Dechus#Sin'Ze">-Sin'Ze , Dieu de la Maladie et du Poison</a>
    <br /><a href="/Dieux_Dechus#Alonrik">-Alonrik , Dieu des Conquêtes et de la Domination</a>
    <br /><a href="/Dieux_Dechus#Kakor">-Kakor , Déesse de l'Annihilation</a>
    <br /><a href="/Dieux_Dechus#Ran'g'kor">-Ran'g'kor , Déesse de la Vengeance</a>
    <br /><a href="/Dieux_Dechus#Dae">-Dae , Dieu des Profondeurs</a>
    <br /><a href="/Dieux_Dechus#Hun'Luky">-Hun'Luky, Déesse de la Chance et de la Malchance</a>
    <br /><a href="/Dieux_Dechus#Zoy">-Zoy , Déesse de la Tentation et des Regrets</a>

</h3>


<hr />


<h2>
    <a href="/Transcandés">Transcandés</a>
</h2>

<h3>
    <br /><a href="/transcandes#Ibaotai">-Ibaotai, Le Dieu Des Voleurs & du Meurtre</a>
    <br /><a href="/transcandes#Aonyx">-Aonyx, Déesse de la Chasse & de la Survie</a>
    <br /><a href="/transcandes#Xeo">-Xeo, Dieu du Courage et du Sacrifice de Soi</a>
    <br /><a href="/transcandes#Térash">-Térash, Dieu de l'Artisanat et de la Forge</a>
    <br /><a href="/transcandes#Aylon">-Aylon, Dieu du Commerce et de la Négociation</a>
    <br /><a href="/transcandes#Mar'h">-Mar'h, Dieu de la Duperie et de la Ruse</a>
    <br /><a href="/transcandes#Azimut">-Azimut, Déesse des Bières et des Spiritueux</a>
    <br /><a href="/transcandes#Karrth">-Karrth, Dieu de la Cartographie et de la Navigation</a>

</h3>
</body>

<footer>  <%- include ('../pages/part/foot') %>  </footer>

</html>