<!DOCTYPE html>
<html>


<header>
    <%- include ('../pages/part/header') %>
</header>

<head>
    <title>Guildes</title>
    <link rel= "stylesheet" href= "/assets/semantic/semantic.min.css">
    <link rel="stylesheet" href="/assets/styles.css">
</head>


<body>

    <h1>  Guildes  </h1>
    <h3>
        <br /><a href="#Adorateurs_des_Dragons">-Adorateurs des Dragons</a>
        <br /><a href="#Ambition_de_la_Demande">-Ambition de la Demande</a>
        <br /><a href="#Bande_des_Abominables">-Bande des Abominables</a>
        <br /><a href="#Division_du_Contrat">-Division du Contrat</a>
        <br /><a href="#Enchanteurs_des_Dieux">-Enchanteurs des Dieux</a>
        <br /><a href="#Fléau_Perdu">-Fléau Perdu</a>
        <br /><a href="#Frénésie_Vicieuse">-Frénésie Vicieuse</a>
        <br /><a href="#Hérauts_des_Immortels">-Hérauts des Immortels</a>
        <br /><a href="#Présage_des_Victoires">-Présage des Victoires</a>
        <br /><a href="#Puissance_des_Héros">-Puissance des Héros</a>
        <br /><a href="#Ruine_Trahie">-Ruine Trahie</a>
        <br /><a href="#Sanction_du_Défi.">-Sanction du Défi.</a>
        <br /><a href="#Sentinelles_froides">-Sentinelles froides</a>
        <br /><a href="#Titans_Purs">-Titans Purs</a>
        <br /><a href="#Traditions_des_Ombres">-Traditions des Ombres</a>
        <br /><a href="#Tueurs_Méprisables">-Tueurs Méprisables</a>
    </h3>

    <hr />

    <h3 id="Adorateurs_des_Dragons">  Adorateurs des Dragons  </h3>
    <p>
             Une ville dont la Guilde est fasciné par les Dragons, ce sont les plus grands Experts Merohnien sur le sujet. 
        <br/>Les Rumeurs parlent même d'une bibliothèque conservant des textes sur leurs disparitions suite à la Guerre les ayant opposés aux Géants. 
        <br/>Bon, les rumeurs restent des rumeurs et en réalité je n'ai jamais rencontré quelqu'un ayant vu ses ouvrages de ses propres yeux... 
        <br/>donc hein ! Et certains s'amusent également à faire courir une rumeur bien plus intéressante, 
        <br/>comme quoi la Guilde serait secrètement sous les ordres de Drakéïdes. Si je comprends bien, 
        <br/>ça serait les sous fifres des Drakéïde qui seraient les sous fifres des Dragons... whaaa, compliqué à suivre !
        <br/>
        <br/>Enfin bref, tout Aventuriers sait que les MEILLEURES ARMURES de tout Meroh sont forgées là bas... La classe non ?! -
    </p>

    <hr />

    <h3 id="Ambition_de_la_Demande">  Ambition de la Demande  </h3>
    <p>
             Une ville dont la Guilde est au cœur du commerce Inter-royaume de Meroh. Toute commande (matériaux ou services) sera négociée à prix unique...
        <br/>À condition d'avoir des contacts ! Car la ville est strictement fermée à ceux n'ayant pas d'autorisations accordées par la League. 
        <br/>Par contre, pour les quelques chanceux y ayant accès vous serez rapidement noyés dans l'Or... 
        <br/>À condition d'avoir un minimum la fibre commerciale bien sûr ! C'est le meilleur endroit pour commander des produits venant d'autres continents, 
        <br/>vous serez livré en un temps record. Les rumeurs disent même qu'ils ont des produits tout droit venus de Landésia !
        <br/>
        <br/>Par contre, petit détail.... Pour obtenir une Autorisation il faut que la Majorité de la League vous recommande, 
        <br/>mais il est également possible d'en demander une en récompense au sein du Colysée.
    </p>

    <hr />

    <h3 id="Bande_des_Abominables">  Bande des Abominables  </h3>
    <p>
            Une ville dont la Guilde ne se cache pas d'être lié aux Marché Noir. 
        <br/>Vous êtes libres d'y entrer, mais n'oubliez pas que la League ne se porte pas responsable de votre disparition... 
        <br/>Pour ceux ayant les moyens d'y entrer et d'en sortir vivants, ils y trouveront des Marchandises uniques maaaaais.... 
        <br/>troquable uniquement contre des Services ! Nous recommandons fortement d'être affilié à une personnalité du milieu, 
        <br/>à moins d'être suicidaire ou prêt à perdre gros. Esclavagisme, tragique d'organe, kidnapping organisé et j'en passe... 
        <br/>c'est une sorte "d'Ambition de la demande " mais moins... éthique.
        <br/>
        <br/>Aucune plainte liée à cette Guilde n'est jugée, alors ne jouez pas avec plus gros que vous !
    </p>

    <hr />

    <h3 id="Division_du_Contrat">  Division du Contrat  </h3>
    <p>
            Une ville dont la Guilde est composée d'aventuriers ou de mercenaires qui cherchent des contrats ou des missions payés en or. 
        <br/>Ils se répartissent des quêtes classifiées en difficulté ( de F à SSS ) à travers Meroh. 
        <br/>Pour les plus compétents ou les plus gradés au sein de la Guilde, il existe deux types de Quêtes supplémentaires : 
        <br/>- Les Quêtes Inter-royaumes, où vous traverserez les continents afin d'effectuer vos missions pour des particuliers.
        <br/>Les Quêtes Inter-guildes, où vous serez amené à effectuer des missions pour d'autres Guildes Anonymes. 
        <br/>Disons que la différence entre les Membres Novices et les Membres Gradés est la qualité des récompenses, 
        <br/>une quête classifiée à la même difficulté peut être payée 100 fois d'avantage si vous l'effectuez en Inter-royaumes ou en Inter-guildes.
        <br/>
        <br/>C'est également un moyen simple et efficace de voyager en gagnant des sous tout en agrandissant votre réputation !
    </p>

    <hr />

    <h3 id="Enchanteurs_des_Dieux">  Enchanteurs des Dieux  </h3>
    <p>
             Une ville dont la Guilde est constituée des meilleurs Enchanteurs de Meroh. 
        <br/>Ce sont essentiellement des Artistes qui enchantent vos équipements à l'aide de Magies en tout genre. 
        <br/>Il y a également de rares Artificiers, véritables Forgerons et Alchimistes dont les talents vous permettront d'accueillir 
        <br/>au sein de vos bagages des créations en tout genre ! Il existe également le "Marché des Dieux", où vous trouverez des babioles en tout genre !
        <br/>De manière générale, ce sont seulement des objets enchantés qui cessèrent de fonctionner. Mais parfois.... 
        <br/>Des babioles bénies par les Dieux sont vendues sans que quiconque ne sache quoi que ce soit. Que ça soit sur leurs propriétés magiques, 
        <br/>leurs risques ou encore même la quantité d'usage, à moins d'essayer vous ne saurez pas ! Arnaque ou cadeau divin ?
        <br/>
        <br/>Seule la chance vous aidera !
    </p>


    <hr />


    <h3 id="Fléau_Perdu">  Fléau Perdu  </h3>
    <p>
             Une ville dont les Membres de la Guilde sont potentiellement des Explorateurs. 
        <br/>Je dit bien potentiellement, car malheureusement seule la League et les habitants de la Ville connaissent réellement les motifs de la Guilde. 
        <br/>Je vous avoue avoir suivi plusieurs d'entre eux et il leur arrivait parfois de disparaître dans les Ruines, ou alors ils partaient en pleine Mer ! 
        <br/>Malheureusement, seuls les membres de la Guilde ainsi que de la Guilde sont autorisés à visiter cette ville.
        <br/>
        <br/>Nombre de personnes seraient prêt à payer votre poids en OR pour le MOIIIIIIINDRE détail sur cette Guilde ainsi que leurs occupations.
    </p>

    <hr />

    <h3 id="Frénésie_Vicieuse">  Frénésie Vicieuse  </h3>
    <p>
             Une ville dont la Guilde emploie les meilleurs artistes sous le signe de Kushiel. 
        <br/>Torture, agonie lente et maîtrisée ou encore rituels artistiques au nom de la sainte Souffrance... 
        <br/>vous trouverez rédemption au prix de quelques cris. La Guilde emploie également les Mercenaires les plus vicieux et viciés aux plaisirs de la soumission charnelle. 
        <br/>Au passage, vous avez besoin de récupérer une information ? Ou alors, vous avez envie de faire payer quelqu'un un peu trop bavard ? 
        <br/>Les Membres de la Frénésie Vicieuse vous proposeront des forfaits tout à fait RA-VIE-SANG....
        <br/>La Guilde organise également des "Ventes aux Enchères Merohnienne", 
        <br/>un charmant moment où ceux intéressés par la même enchère devront combattre pour avoir une chance d'être le détenteur dudit Objet.
        <br/>
        <br/>Dernière chose à savoir, c'est une ville où on négocie d'une manière très... spéciale. Serrez les dents pour une ristourne !
    </p>

    <hr />

    <h3 id="Hérauts_des_Immortels">  Hérauts des Immortels  </h3>
    <p>
             Une ville dont la Guilde est composée d'officiers liés aux 8 Royaumes chargés de porter les déclarations de guerre, 
        <br/>de donner le signal des combats, de publier la paix ou encore de vérifier les titres nobiliaires. 
        <br/>Ils sont également des messagers chargés de porter les ordres des Ambassadeurs ainsi que de la League à travers les Mondes. 
        <br/>Les Hérauts font également des annonces publiques et annoncent des événements remarquables. Cette Guilde est également controversée car au cœur des rumeurs, 
        <br/>il existerait certains Cléromanciens dont les intentions iraient à l'encontre de la clause de partialité gouvernementale. 
        <br/>Ils effectueraient secrètement des rituels afin de prendre un avantage considérable sur les autres Religieux ainsi que sur les autres Guildes.
        <br/>
        <br/>Nul doute que ceux qui allient visibilité à cléromancie sont de loin des ennemis à éviter... ou alors de bons alliés à rencontrer.
    </p>

    <hr />

    <h3 id="Présage_des_Victoires">  Présage des Victoires  </h3>
    <p>
             Une ville dont la Guilde gère les paris commerciaux pour tout combat de Gladiateurs au sein du Colysée, 
        <br/>mais possède également le seul Casino de Meroh ! Jeux de cartes, de dés, ou encore roulettes, 
        <br/>vous trouverez tout type de Moyens de gagner ou perdre de l'argent ! Sachez également que vous pouvez parier sur vous même, par exemple : 
        <br/>Le plus fort à l'arc ou à l'épée, le meilleur chanteur, ou encore la meilleure descente d'alcool... 
        <br/>Mais à vos risques et périls ! Car les jeux de "Personnes" sont uniquement récompenser en "Services" ou même parfois en "Contrats d'Esclavages".
        <br/>
        <br/>Aucune plainte suite à une défaite n'est acceptée, car vous vous engagez par l'âme à respecter les risques et les... tricheries !
    </p>

    <hr />

    <h3 id="Puissance_des_Héros">  Puissance des Héros  </h3>
    <p>
             Une ville dont la Guilde est composée des plus courageux et volontaires Mercenaires prêt à tout pour aider les citoyens libres de Meroh. 
        <br/>Ils vivent essentiellement de dons et sont toujours accueillis les bras ouverts en tout lieux. Que ça soit un chat perdu ou une attaque de brigand, 
        <br/>ils sont toujours les premiers à risquer leurs vies contrairement à leurs confrères Gladiateurs qui ne bougent leurs petits doigts qu'en échange d'une poignée de pièces d'or.
        <br/>Un système de quête ou de récompense est au cœur de la Guilde, plus vous êtes utiles à la société Merohnienne 
        <br/>et plus vous serez apte à échanger cette notoriété contre des Services ou des Contacts en tout genre.
        <br/>
        <br/> Amis bienveillants, rejoignez la Fratrie de la Puissance des Héros pour qu'une grande Histoire s'écrive !
    </p>

<hr />

    <h3 id="Ruine_Trahie">  Ruine Trahie  </h3>
    <p>
             Une ville dont la Guilde cherche à découvrir le Secret des Ruines. 
        <br/>Malgré son nom appelant à une trahison, ils sont extrêmement loyaux et amicaux envers toute personne partageant les mêmes objectifs qu'eux. 
        <br/>Ce sont d'ailleurs eux les premiers (et les seuls) ayant réussi l'exploit de ramener des découvertes de ce lieu étrange ! 
        <br/>Ils s'intéressent également aux Donjons scellés. Nombre d'explorateurs en font partie, 
        <br/>prêts à tout pour braver les dangers ainsi que les disparitions au sein de la Brume !
        <br/>
        <br/>C'est le meilleur endroit pour trouver un Guide, si vous ne souhaitez pas payer en or... il vous faudra rendre service à la Guilde en échange de leurs précieux conseils ! -
    </p>

    <hr />

    <h3 id="Sanction_du_Défi">  Sanction du Défi  </h3>
    <p>
             Une ville dont la Guilde gère les "Parieurs Combatifs", première étape avant d'accéder au statut "d'apprenti Gladiateur" 
        <br/>(une sorte de formation Martiale pour augmenter ses chances de survivre dans le Colisée). La Guide gère également les condamnés (par la League) Gladiateurs, 
        <br/>faisant en sorte qu'ils n'aient aucun moyen d'échapper à leurs peines. Il existe également des zones "d'amusements" 
        <br/>ou de "sanctions" pour les Maîtres souhaitant récompenser ou punir leurs Esclaves. 
        <br/>Vous pouvez même déposer votre Esclave dans une zone de "Repos" et venir le récupérer quand vous le souhaitez.
        <br/>
        <br/>Le plus controversé reste les zones "d'élevages" et "d'éducations", pas besoin d'explication sur le sujet…
    
    </p>

    <hr />

    <h3 id="Sentinelles_froides">  Sentinelles froides  </h3>
    <p>
             Une ville dont la Guilde est composée de Mercenaires en tout genre prêts à tout pour quelques pièces d'or. 
        <br/>Vous pouvez y recruter tout genre de combattants, Magiciens ou encore Rôdeurs pour vous aider dans vos Aventures. 
        <br/>Pour cela, il faut s'inscrire en tant que recruteur et rencontrer vos potentiels Employés. 
        <br/>Ils sont tous connus pour leurs Sangs Froids et leurs capacités à faire abstraction de toute émotion.
        <br/>
        <br/>Vous vous engagez à nourrir et loger votre employé, ainsi qu'à le raccompagner à la Guilde sous peine d'amendes.
    </p>

    <hr />

    <h3 id="Titans_Purs">  Titans Purs  </h3>
    <p>
             Une ville dont la Guilde est composée d'adorateurs des Géants qui cherchent à reproduire la Robustesse ainsi que la Martialité Naturelle propre aux Colosses.
        <br/>Ils forment et partagent leurs savoir-faire avec ceux partageant leurs adorations...
        <br/>Mais également une poignée d'Or ! Vous l'aurez compris, à la tête de la Guilde vous trouverez de rares Colosses dont la fibre commerciale...
        <br/>OU alors bien sûr leur amour envers de lointains ancêtres aura permis à cette Guilde d'être l'une des plus rentables du Continent !
        <br/>Il existe également une ancienne bibliothèque, 
        <br/>mais seuls les Membres dont l'ensemble des "Anciens" (les "Formateurs") accordent l'accès seront acceptés en ce lieu d'Histoire. 
        <br/>Un système de " Bijouterie " est au cœur de la Guilde afin d'évaluer la Hiérarchie entre chaque Membres.
        <br/>Passion ou Argent ? Par les couilles d'Elua j'en ai pas la moindre idée !
    </p>

    <hr />

    <h3 id="Traditions_des_Ombres">  Traditions des Ombres  </h3>
    <p>
             Une ville dont la Guilde est composée d'adeptes effectuant des traditions plus anciennes encore que la Lumière. 
        <br/>Enfin, c'est ce qu'on dit... Car c'est une Guilde dont le cercle est EXTRÊMEMENT restreint ! 
        <br/>Ce sont essentiellement des moines qui dorment le jour, et prient la nuit.
        <br/>
        <br/>Sincèrement, je trouve que ça cache une bonne grosse anguille sous roche ! 
    </p>

    <hr />

    <h3 id="Tueurs_Méprisables">  Tueurs Méprisables  </h3>
    <p>
             Une ville dont les membres de la Guildes ont TRÈS TRÈS mauvaise réputation. Comme vous l'avez deviné, une guilde d'assassins.... 
        <br/>Mais très atypique ! Car contrairement à leurs confrères fiers et dangereux, ceux-là sont... des lâches et des fainéants. Leurs méthodes ? 
        <br/>Empoisonnement de masse, explosions, accidents et j'en passe... Ils se fichent des dégâts collatéraux et ne feront JAMAIS face à leurs victimes. 
        <br/>Elle est certainement l'une des Guildes les plus dangereuses du Continent, 
        <br/>malgré le fait que n'importe quel Aventuriers sachant se débrouiller avec une arme puisse remporter aisément un duel avec l'un de leurs membres. 
        <br/>Mais sachez que c'est une Guilde extrêmement rancunière et surtout assoiffée d'Or !
        <br/>
        <br/>Au cas où vous cherchiez des poisons ou des explosifs en tout genre, vous trouverez votre bonheur là bas ! 
    </p>

    <hr />

</body>
<footer>  <%- include ('../pages/part/foot') %>  </footer>
</html>