<!DOCTYPE html>
<html>

<head>

    <title>index</title>
    <link rel= "stylesheet" href= "/assets/semantic/semantic.min.css">
    <link rel="stylesheet" href="/assets/styles.css">

</head>
<header>
    <%- include ('../pages/part/header') %>
</header>

<body>

    <h1>Titre 1</h1>

        <p> <%= test %> </p>



</body>

<footer>  <%- include ('../pages/part/foot') %>  </footer>

</html>