<!DOCTYPE html>
<html>


<header>
    <%- include ('../pages/part/header') %>
</header>

<head>
    <title>Premiers Dieux</title>
    <link rel= "stylesheet" href= "/assets/semantic/semantic.min.css">
    <link rel="stylesheet" href="/assets/styles.css">
</head>

<body>
    <h2> Premiers Dieux </h2>

    <h3>
        <br /><a href="#Hiyel">-Hiyel, Dieu de la Tyrannie</a>
        <br /><a href="#Civax">-Civax, Dieu des Destins et des Choix </a> 
        <br /><a href="#Daelyn">-Daelyn, Déesse De la Magie et du Matériel </a>
        <br /><a href= "#Shami">-Shami, Déesse de la Curiosité et des Découvertes</a>
        <br /><a href="#Ylandr">-Ylandr, Déesse de la Connaissance</a>
        <br /><a href="#Doon_Plavan">-Doon Plavan, Dieu des 4 Vents et de la Tempête</a> 
        <br /><a href="#Nar'Gah">-Nar'Gah, Dieu des Corbeaux et des Mensonges</a> 
        <br /><a href="#Nadredule">-Nadredule, Déesse du Ciel et de la Terre</a> 
        <br /><a href="#Piaflin">-Piaflin, Dieu du Soleil et de l'Agriculture</a> 
        <br /><a href="#Arachnéa">-Arachnéa, Déesse des Funérailles et du Renouveau</a> 
        <br /><a href="#Dian">-Dian, Déesse des 12 Lunes</a> 
        <br /><a href="#Yuz">-Yuz, Déesse de la Folie</a> 
        <br /><a href="#Kenz'Horn">-Kenz'Horn, Dieu de la Richesse, de la Cupidité</a>
        <br /><a href="#Zu'Kra">-Zu'Kra, Dieu des Passages</a> 
        <br /><a href="#Kween ">-Kween, Déesse de la Bienveillance et du Partage</a> 
        <br /><a href="#Linae">-Linae, Déesse des Secrets et des Murmures</a> 
        <br /><a href="#Ygg">-Ygg, Dieu de la Source et de l'Équilibre</a> 
        <br /><a href="#Félaystia">-Félaystia, Déesse des Arts et de la Festivité</a> 
    </h3>

    <hr />

    <h3 id="Hiyel"> Hiyel </h3>
    <p>
              Dieu de la <strong>Tyrannie</strong>  ; Les légendes racontent qu'il est <strong>Loyal</strong> mais <strong>Mauvais</strong>.
        <br />Son domaine est celui de la <strong>Ruse.</strong>.
        <br />
        <br />Quant à son autre facette de lui même...
        <br />
        <br />Il est également le Dieu de la Justice et de la Noblesse.
        <br />Il est considéré comme Loyal Bon.
        <br />Et son domaine est celui de la Guerre mais également de la Vie.
        <br />
        <br />Hiyel est symbolisé par deux Masques, l'un est fait d'Or et l'autre est en Os.
    </p>

    <hr />

    <h3 id="Civax"> Civax </h3>
    <p>
              Le Dieu des Destins et des Choix ; Les légendes racontent qu'il est Chaotique Bon.
        <br />Son domaine est celui de la Ruse.
        <br />
        <br />Il est symbolisé par les Gardiens, des sortes de Serpents Géants qui conserveraient parfois certains Destins de l'influence d'autres Dieux.
    </p>

    <hr />

    <h3 id="Daelyn"> Daelyn </h3>
    <p>
              La Déesse De la Magie et du Matériel ; 
        <br/>Les légendes racontent qu'elle serait Chaotique Bonne.
        <br/>Son domaine est celui de la Lumière.
        <br/>
        <br/>Elle est symbolisée dans les textes anciens par Deux Cercles étroitement accolés.
    </p>

    <hr />

    <h3 id="Shami"> Shami </h3>
    <p>
        <br/>La Déesse de la Curiosité et des Découvertes, à cause de qui on raconte que la curiosité est un vilain défaut...
        <br/>Les peuples la considèrent comme Loyale Neutre.
        <br/>Et son Domaine est celui du Savoir.
        <br/>
        <br/>On la représente toujours par une belle Drakéïde tenant un Bâton d'où jaillissent des éclairs.
        <br/>C'est l'une des Déesses les plus populaires parmi le peuple des Gnomes.
    </p>

    <hr />

    <h3 id="Ylandr"> Ylandr </h3>
    <p>
              La Déesse de la Connaissance.
        <br/>Elle est considérée comme Neutre !
        <br/>Son domaine est le Savoir.
        <br/>
        <br/>Les Sages aiment la représenter avec un Livre Rayonnant.
    </p>

    <hr />

    <h3 id="Doon_Plavan"> Doon Plavan </h3>
    <p>
              Le Dieu des 4 Vents et de la Tempête.
        <br/>Il est décrit comme Chaotique Neutre.
        <br/>Son domaine est la Tempête.
        <br/>
        <br/>Et les Nains le représentent avec 4 Dagues faites à même le Vent.
    </p>

    <hr />

    <h3 id="Nar'Gah"> Nar'Gah </h3>
    <p>
              Le Dieu des Corbeaux et des Mensonges.
        <br/>Les Peuples le craignent et le considèrent comme Chaotique Mauvais.
        <br/>Son domaine est la Ruse et la Duperie.
        <br/>
        <br/>Si vous apercevez un Corbeaux avec 3 yeux, c'est que vous êtes dans le collimateur de Nar'Gah !
    </p>

    <hr />

    <h3 id="Nadredule"> Nadredule </h3>
    <p>
              La Déesse du Ciel et de la Terre.
        <br/>Elle est décrite comme Neutre.
        <br/>Son domaine est la Tempête.
        <br/>
        <br/>Elle est représentée par des Poissons Ailées, sachez qu'elle assume protéger Landésia des voyous !
    </p>

    <hr />

    <h3 id="Piaflin"> Piaflin </h3>
    <p>
              Le Dieu du Soleil et de l'Agriculture.
        <br/>On aime à l'imaginer Neutre Bon.
        <br/>Son domaine est la Lumière ainsi que la Vie.
        <br/>
        <br/>Les Halfelins le représentent par un Cercle entouré de Fleurs.
    </p>

    <hr />

    <h3 id="Arachnéa"> Arachnéa </h3>
    <p>
             La Déesse des Funérailles et du Renouveau.
        <br/>Personne ne sait réellement, mais on préfère l'imaginer Loyale Neutre...
        <br/>Son domaine est celui de la Mort ainsi que de la Vie.
        <br />
        <br/>On la représente dans les Cérémonies par une Araignée au cœur d'une Toile.
    </p>

    <hr />

    <h3 id="Dian"> Dian </h3>
    <p>
              La Déesse des 12 Lunes.
        <br/>Selon ses humeurs elle est Chaotique Bonne.
        <br/>Son domaine est celui de la Ruse ainsi que de la Nature.
        <br />
        <br/>Dans les Ruines, on a découvert qu'elle était représentée par 12 Lunes Superposées !
        <br/>Ses intentions sont nappées de Mystères, mais visiblement elle n'est pas toute seule dans sa tête…
    </p>

    <hr />

    <h3 id="Yuz"> Yuz </h3>
    <p>
              La Déesse de la Folie.
        <br/>Tout le monde la craint visiblement, on l'imagine souvent Chaotique Mauvaise.
        <br/>Son domaine est celui de la Ruse ainsi que de la Duperie.
        <br />
        <br/>Elle aime à se faire représenter comme une Larme formant une Spirale.
    </p>

    <hr />

    <h3 id="Kenz'Horn"> Kenz'Horn </h3>
    <p>
              Le Dieu de la Richesse, de la Cupidité ainsi que de l'Egoïsme.
        <br/>Les Marchands le présente toujours comme Loyale Mauvais.
        <br/>Son domaine est la Duperie.
        <br />
        <br/>Et on le symbolise par une belle grosse Bourse débordante d'Or !
    </p>

    <hr />

    <h3 id="Zu'Kra"> Zu'Kra </h3>
    <p>
              Le Dieu des Passages.
        <br/>On ne connaît pas grand-chose à son sujet, mais il paraît être Neutre Mauvais..
        <br/>Son domaine est celui de la Mort.
        <br />
        <br/>Les seules représentations en son Nom montrent une Chaîne Sanglante.
    </p>

    <hr />

    <h3 id="Kween"> Kween </h3>
    <p>
              La Déesse de la Bienveillance et du Partage.
        <br/>Les Peuples l'acclament comme Loyale Bonne.
        <br/>Son domaine est la Lumière.
        <br />
        <br/>Et on la représente avec un Cœur enraciné dans le Sol.
    </p>
   
    <hr />

    <h3 id="Linae"> Linae </h3>
    <p>
              La Déesse des Secrets et des Murmures.
        <br/>On espère tous qu'elle soit Neutre ...
        <br/>Son domaine est la Ruse et le Savoir.
        <br />
        <br/>Dans les Textes trouvés au Cœurs de certaines Ruines, elle est représentée par une Bouche partiellement Brisée.
    </p>

    <hr />

    <h3 id="Ygg "> Ygg </h3>
    <p>
              Le Dieu de la Source et de l'Équilibre.
        <br/>Il est parfaitement Neutre.
        <br/>Son domaine est celui de la Vie ainsi que de la Mort.
        <br />
        <br/>On le symbolise généralement par un Arbre entouré d'un Lac.
    </p>

    <hr />

    <h3 id="Félaystia"> Félaystia </h3>
<p>
    <br/>La Déesse des Arts et de la Festivité.
    <br/>Les Elfes la considèrent comme Neutre Bonne.
    <br/>Son Domaine est celui du Savoir.
    <br />
    <br/>Et lors des Festivals, on la représente avec des Fleurs de Callin entourés de Feuilles de Colerte.

</p>


<hr />


</body>

<footer>  <%- include ('../pages/part/foot') %>  </footer>

</html>