<!DOCTYPE html>
<html>


<header>
    <%- include ('../pages/part/header') %>
</header>

<head>
    <title>Royaumes</title>
    <link rel= "stylesheet" href= "/assets/semantic/semantic.min.css">
    <link rel="stylesheet" href="/assets/styles.css">
</head>


<body>
    <h1>
        Royaumes
    </h1>
    <h3>
        <br/>De façon générale, les villages ne sont que des petits îlots de civilisation.
        <br/>Les Villes appartiennent aux Guildes, pour différentes raisons possibles et imaginables. 
        <br/>(Coopération avec l'Etat, Guilde Religieuse, Commerce, etc)
        <br/>Il est Possible pour les Joueurs ayant les Faveurs adéquates de créer une Guilde, et à long terme une Ville.
        <br/>Les grandes étendues sauvages sont encore habitées de Monstres & de Créatures inquiétantes.
        <br/>Ce qui fait que tous les voyages sont dangereux, et qu'en général on est sur les routes si on a une bonne raison ; 
        <br/>ou alors que si on n'a nul part où aller. ( Exemple : Repris de Justice, etc. )
        <br/>On croise donc peu de monde en voyageant.
        <br/>Et surtout... Les cartes sont peu fiables, les chemins sont trompeurs, les villes qui paraissent fermement établies peuvent disparaître d'un jour à l'autre...!

    
    </h3>
    <img style="max-width: 1046px;  display: block;  margin-left: auto;  margin-right: auto;" src="assets/Image/Map_Monde_Royaume.jpg" alt="map">
    <h2>
        Les 8 Royaumes
    </h2>
    <h3>
        <br /><a href="#Karm">-Karm</a>
        <br /><a href="#Zeto">-Zeto</a> 
        <br /><a href="#Syndrya">-Syndrya</a>
        <br /><a href= "#Sayto">-Sayto</a>
        <br /><a href="#Meroh">-Meroh </a>
        <br /><a href="#Unfreez">-Unfreez </a> 
        <br /><a href="#Volkanhia">-Volkanhia</a> 
        <br /><a href="#Landésia ">-Landésia</a> 
    
   
    </h3>



    <hr />



    <h3 id="Karm">
        Karm   
    </h3>
    <p>
        <br />Un continent dont la Terre est terriblement infertile, dirigé par le Conseil des Sages.
        <br />Elle est aujourd'hui au cœur de la Runetologie qui façonne les plus grandes découvertes parmi les 8 Royaumes !
        <br />On raconte qu'il n'y aurait que 3 Villes, mais pas n'importe lesquelles... 
        <br/>Des putains d'îles volantes, rattachées au sol par des chaînes ?! Malheureusement l'accès au Savoir n'est pas gratuit, car ici il rime avec Notoriété et Respect ! ...
        <br />Malgré que certains vous diront " Je préfère être con, c'est moins cher ! ", 
        <br/>si vous souhaitez vous acquérir du prix pour la Connaissance, il vous faudra trouver des Passeports qui se vendent au bas mot 1 000 pièces d'or...
        <br />Et sachez également que la Capitale n'existe pas...
        <br />Enfin, pas dans le monde matériel en tous cas !
        <br />Ces Savants fous réussirent à la déplacer dans un autre Plan, reliée uniquement aux Villes par un Portail !
        <br />L'avantage, c'est que pour passer d'une Ville à l'autre il suffit de passer par la Capitale...
        <br />Le désavantage, c'est que certains craignent pour l'équilibre de la Magie et du Matériel...
        <br />Après, ils doivent savoir ce qu'ils font non ?! Sachez également que sous les Villes Volantes existent des Communautés, 
        <br/>qui survivent comme ils peuvent avec les déchets rejetés par ceux du Dessus... Charmant Royaume n'est ce pas ?
        <br />
        <br />Les Dieux Populaires sont : - Shami ; Ylandr ; Linae ; Hun'Luky.
    
    
    </p>



    <hr />



    <h3 id="Zeto">
        Zeto    
    </h3>
    <p>
        <br />Au cœur du Royaume Religieux, un Gouvernement de Théocratie où les titulaires de la Parole d'Elua sont souverains ainsi que Devins. 
        <br/>Aidés de la Jeune Fraternité Cassaline fondée il y a seulement 154 années, personne parmi les 8 Royaumes n'a jamais critiqué le Seigneur Elua l'Unique impunément.
        <br />La Fraternité Cassaline, ordre de Prêtres Guerriers d'élites, fut acceptée par la Théocratie de Zeto décidant de suivre Elua où qu'il aille.
        <br />Le service à Elua est long et exigeant, et demande un entraînement dès la dixième année pour les jeunes enfants qui s'y vouent, 
        <br/>faisant le vœu de servir les Portes Paroles d'Elua, mais aussi celui de célibat, ou encore le vœu de ne tirer l'épée que pour tuer.
        <br />Les armes distinctives des Cassalins sont leurs dagues ainsi que leurs canons d'avant-bras, en plus de leur épée qu'ils n'utilisent que rarement, 
        <br/>et toujours pour mettre à mort un adversaire.
        <br />Leur style de combat est basé sur la défense d'un tiers, faisant d'eux les meilleurs gardes du corps possibles.
        <br />L'austérité commandée par les préceptes de la Fraternité Cassaline font que seules les Anciennes familles de la Noblesse Provinciale peuvent recevoir un des fils d'Elua en tant que Secrétaire ou Protecteur.
        <br />Il faut savoir également que Zéto possède 7 Capitales, où les Portes Paroles d'Elua partagent ensemble la souveraineté du Royaume.
        <br />La Magie non Divine est très mal appréciée à Zéto, où les Aventuriers possédants quelconques capacités magiques sont contrôlées à leurs arrivées sur le Continent.
        <br />Ils doivent posséder au préalable une Autorisation d'Aptitudes s'ils ne souhaitent pas être envoyés aux Tours d'Elua où des Test quand à leurs natures Magiques seront effectués.
        <br />Si leurs sources de pouvoir est de nature "Environnante" (Druides, Elus, Magiciens, Elémen'tarys) alors ils ne risquent rien.
        <br />Si par contre leurs sources de pouvoirs est de nature "Pactisant" (Sorciers ou Contractants) alors ils seront sacrifiés au nom d'Elua..
        <br />
        <br />Le Dieu Populaire est : - Elua !
    </p>


    <hr />


    <h3 id="Syndrya">
        Syndrya   
    </h3>
    <p>
        <br />Ayant survécu à la sécheresse de leurs Terres par le troc inter-royaumes au prix de Navigations Maritimes plus que périlleuses, Syndrya prospère depuis des Générations.
        <br />Au cœur de l'économie mondiale, Syndrya est dirigé par le conseil des plus Grands Marchands encore vivant.
        <br />Quoi que vous cherchiez à acheter, il sera présent à prix d'Or.
        <br />L'un des marchands les plus connus : Azza, a su faire fortune en respectant au pied de la lettre le Principe pur de la Navigation.
        <br />Ayant embauché les plus créatifs des Érudits Gnomes aidés des nouvelles découvertes en termes de Runetologie, il fut le premier Marchand à profiter des Gondolières afin d'optimiser chaque transactions.
        <br />Une étrange habitude communautaire s'est installée au cours des siècles : construire des maisons faites en forme de Bateau à même les rochers.
        <br />Mais également la hantise de garder un sous en poche !
        <br />Ironiquement, grâce à cela Syndrya a l'une des économies les plus favorables et les plus florissantes parmi les 8 Royaumes.
        <br />Nul doute que vous trouverez Fortune si de nature vous êtes avide ! Mais prenez gare à vos Bourses, on trouve toujours plus Avide que soi par ici..
        <br />
        <br />Les Dieux Populaires sont : - Doon Plavan ; Nar'Gah ; Kenz'Horn ; Linae ; Dae et Hun'Luky.
    
    
    </p>


    <hr />



    <h3 id="Sayto">
        Sayto    
    </h3>
    <p>
        <br />Au cœur du Royaume, un régime politique de Shogunat.
        <br />Le Shogunat est une dynastie de Généraux Bardes qui dirige le Royaume Sayto érigé suite à la période de l'Ère Guerrière. Certains auteurs résument Sayto à " La plume plus tranchante que l'épée " : 
        <br />Produite de cette activité ou l'idée que l'on s'en fait, qui s'adresse délibérément aux sens, aux émotions, aux intuitions et à l'intellect. 
        <br />On peut affirmer que Sayto est le propre de l'Être ou de toute conscience, en tant que découlant d'une intention, et que cet Art n'as pas de fonction pratique définie.
        <br />Au cœur du Royaume, la culture se développe sous une infinité de formes ; passant du chant au théâtre, à même la rue.
        <br />Mais surtout, au cœur de la Culture : Une bienveillance et un partage sans fin !
        <br />Les Peuples le considèrent comme le royaume le plus fêtard et effectivement chaque habitant trouvera toujours une bonne excuse pour partager un verre ou bien même une danse !
        <br />" Je pense sincèrement ne jamais avoir été aussi heureux que les quelques semaines passées là bas, 
        <br/>à croire que c'est une terre bénie par la joie elle même... ", je ne compte même plus le nombre de fois où j'ai entendu quelqu'un me dire ça !
        <br />Passons les us et coutumes dont la compréhension n'égale que son opposée, pour simplifier ...
        <br />C'est un Royaume encore prêt à en découdre avec ces vils Freeljordien Barba'tarys, mais qui vit avec le sourire dans le moment présent !
        <br />Si toutes Cultures où Arts vous recherchez, n'hésitez pas à vous perdre dans la beauté de ses Collines où le Temple le plus ancien accueille tout Être souhaitant le visité !
    <br />
    <br />Les Dieux Populaires sont : - Civax ; Daelyn ; Shami ; Ylandr ; Piafflin ; Arachnéa ; Dian ; Kween ; Félaystia ; Shava & Ran'g'kor !
    
    
    
    </p>


    <hr />



    <h3 id="Meroh ">
        Meroh    
    </h3>
    <p>
        <br />Tout Guerrier connaît les Histoires apportées par la Gloire du Colysée. 
        <br/>Il faut tout d'abord savoir que les Gladiateurs sont libres de combattre et il est exceptionnel qu'ils puissent être forcés de le faire contre leur propre volonté...
        <br />Par contre, il est vrai qu'une partie du corps des gladiateurs est composée de prisonniers ( Jugés par la Ligue ) à qui on laisse le choix : 
        <br/>être expédié à Volkanhia ou combattre dans l'arène.
        <br />Dans ce cas, cet engagement ne se fait que pour une période limitée à la hauteur du crime commis.
        <br />A l'issue des combats prévus dans la punition, ceux ayant la chance de survivre retrouveront non seulement la liberté mais reçoivent également les gains accumulés grâce aux combats gagnés, 
        <br/>lesquels sont souvent considérables.
        <br />Les plus grands Gladiateurs de Meroh forme une Ligue hiérarchique afin de gérer le Royaume dans l'ensemble.
        <br />Mais sachez également qu'au cœur de Meroh, il existe le Temple des 12 Lunes où vous passerez... une nuit... Divine !
        <br />Malheureusement ça ne suffira pas à en faire le plus doux des Continents...
        <br />Car les trajets étant déjà suffisamment dangereux avec les créatures sauvages, comptez également sur les groupes de Bandits qui n'hésiteront pas à vous rendre visite !
        <br />Tout de même, joyeux Royaume qu'est celui de Meroh où au fil de votre lame vous créerez souvent quelques amitiés !
        <br />Il existe également d'anciennes Ruines ainsi que des mines, où l'Exploration vous mènera peut-être à la Gloire !
        <br />Je dit bien peut-être, car mystérieusement très peu de personnes se souviennent en réalité de ce qu'ils ont aperçu dans les Ruines Anciennes.
        <br />Et pour les quelques Mines malheureusement passées au crible, il reste très peu de minéraux à exploiter...
        <br />À moins d'en trouver une nouvelle ? Enfin, encore une histoire de Mineurs alcoolisés trop optimistes... hics! 
        <br />
        <br />Les Dieux Populaires sont : - Hiyel ; Civax ; Doon Plavan ; Piaflin ; Dian ; Yuz et Kushiel !
    </p>


    <hr />


    <h3 id="Unfreez">
        Unfreez    
    </h3>
    <p>
        <br />Au cœur du Royaume d'Unfreez, une seule et même personne : Le Chef de Guerre !
        <br />En l'occurrence, actuellement...
        <br />LA Cheffe de Guerre, Camaël la Terrible Barba'tarys.
        <br />Les Peuples sont divisés en différents Clans, 12 au total.
        <br />Ce sont les plus puissants Combattants, les plus terribles Pirates, et surtout les plus cruels êtres humains existant parmi les Mondes.
        <br />Ils ne cachent pas leur hostilité envers les autres Royaumes, n'hésitant pas à kidnapper d'innocents enfants dans des Villages excentrés pour le symbolique prix d'une nuit Sanguinaire.
        <br />Je vous ai dit qu'ils étaient cruels ?
        <br />Ils le sont au point d'éduquer ces enfants kidnappées pour les asservir, et en faire de la chair à canon pour leurs conquêtes maritimes ou terrestres...
        <br />Profitant complètement du fait que les Royaumes ne soient pas en position de déplacer suffisamment de corps armées sur les terres excentrées au risque de fragiliser leurs Capitales.
        <br />Mais les quelques Voyageurs ayant réussi à traverser le Continent parlent souvent des étranges habitations du Royaume d'Unfreez.
        <br />Mais les plus atypiques sont sincèrement celles de la Capitale Frelojord...
        <br />Un ensemble de huttes faites à partir d'une "Pierre runique" ainsi que d'Os des membres familiaux morts en Héros protégeant ainsi leur descendance de la Honte de la Première Fracture.
        <br />Des rumeurs parlent également d'une coopération anormale entre les Clans depuis plusieurs siècles, ce qui n'était plus arrivé depuis leurs Années Guerrières.
        <br />Aventuriers, je vous souhaite de ne jamais croiser le regard d'un Freeljordien Barba'tarys...
        <br />Si vous ne mourez pas de la confrontation, peut-être regretterez-vous de ne pas l'avoir fait...
        <br />
        <br />Mais parlons désormais des Dieux Populaires : - Hiyel (Tyrannie) ; Civax ; Daelyn ; Doon Plavan ; Arachnéa ; Yuz ; Ygg ; Kushiel ; Alonrik ; Kakor ; Ran'g'kor et Dae ! 
    </p>


    <hr />


    <h3 id="Volkanhia">
        Volkanhia    
    </h3>
    <p>
        <br />L'adorable Royaume de la Punition de Ran'g'kor, pour aller à l'essentiel ... 
        <br/>Volkanhia récupère et commerce des "Condamnés" venant des 4 coins du Monde.
        <br />En surface ? Aucune autorité, plusieurs Villages autonomes sont nées à travers le plus grand des Déserts.
        <br />En souterrain, une infinité de galeries dont seul l'entrée et la sortie sont liées à Infar'ih et Tar'Taros.
        <br />Au cœur de la Gouvernance : Seule l'Absolution totale à l'autorité compte aux yeux de la Monarchie.
        <br />Tout Être qui n'aurait ne serait-ce qu'esquisser un signe de Rébellion envers l'Ordre des choses perd immédiatement ses droits et 
        <br/>devra expier ses péchés dans une vie de Servuction Vita Æternam.
        <br />Si les 8 Royaumes sont en Paix aujourd'hui, c'est peut-être en partie grâce à la crainte d'être envoyé en punition à Volkanhia.
        <br />On sait très peu de choses au sujet du Purgatoire ou des Punitions établies, mais sachez qu'aucun condamné n'en est jamais revenu... 
        <br />D'ailleurs si vous souhaitez visiter librement le Dessous de Volkaniah, il vous faudra une lettre d'immunité diplomatique de la part de Sayto. 
        <br/>Les rumeurs diraient que la Mort elle-même n'a aucune emprise sur les Condamnés du Purgatoire.
        <br />Très accueillant Royaume qu'est celui de Volkaniah, qui je vous le souhaite ne laissera pas en vous un souvenir... D'agonie…
        <br />
        <br />Les Dieux Populaires sont : - Hiyel ; Daelyn ; Arachnéa ; Yuz ; Kenz'Horn ; Zu'Kra ; Ygg ; Kushiel ; Desp'hayr ; Sin'Ze ; Ran'g'kor ; et Zoy ! 
    
    
    </p>


    <hr />


    <h3 id="Landésia">
        Landésia   
    </h3>
    <p>
        <br />Le Mystérieux Continent sous la protection de la Déesse Nadredule elle-même, envers et contre tous les autres Dieux !
        <br />Ce Royaume se contente de protéger son Peuple de la malveillance de certains Êtres, cherchant avant toute chose à conserver une Sympathie égale pour chaque Races.
        <br />C'est le continent qui respecte le plus l'équilibre des Mondes, cherchant à préserver celui de Daelyn.
        <br />Le Conseil des Yggdrasien Elémen'tarys élie des Représentants pour la servir une fois par Siècles, ignorant tout statue sociale, ne se basant que sur leurs bienveillances.
        <br />Il leur arrive donc souvent d'être représentés comme des paysans analphabètes ou de naïfs Enfants, prêts à tout pour leur Déesse.
        <br />Après tout, les Destins des Mondes dépendront des plus bienveillants... en tout cas, c'est ce qu'espèrent les habitants de Landésia.
        <br />Sublime Continent qu'est celui où la Nature règne, mais pour y accéder... Nulle Navigation ne sera un succès !
        <br />
        <br />Les Dieux Populaires sont : - Civax ; Daelyn ; Nadredule ; Piaflin ; Kween ; Ygg et Elua.
    
    
    </p>




</body>

<footer>  <%- include ('../pages/part/foot') %>  </footer>

</html>